# === Build / Release ===
release/
out/
bin/
obj/

# === PowerShell ===
# (NO ignorar .ps1 ni .psm1 porque SON el código)
*.ps1xml
*.pssc

# === Logs / Temporales ===
*.log
*.tmp
*.temp
*.cache
_github_token.ps1
_limpiadorderelease.ps1

# === Entornos / IDE ===
.vscode/
.vs/
.idea/

# === Node / Python basura ===
node_modules/
__pycache__/

# === Sistema operativo ===
Thumbs.db
Desktop.ini

# === Backups ===
*.bak
*.backup
*.old